# I like my test names

dotnet_naming_rule.public_members_must_be_capitalized.severity = none
dotnet_naming_rule.public_members_must_be_capitalized.symbols  = public_symbols
dotnet_naming_rule.public_members_must_be_capitalized.style    = first_word_upper_case_style

dotnet_naming_symbols.public_symbols.applicable_kinds   = property;method;field;event;delegate
dotnet_naming_symbols.public_symbols.required_modifiers = public;internal;protected;protected_internal

dotnet_naming_style.first_word_upper_case_style.capitalization = first_word_upper
