<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NBench" version="0.3.1" targetFramework="net461" />
  <package id="NBench.PerformanceCounters" version="0.3.1" targetFramework="net461" />
  <package id="NBench.Runner" version="0.3.1" targetFramework="net461" />
  <package id="NHunspell" version="1.2.5554.16953" targetFramework="net461" />
</packages>