name: CI

on:
  push:
    branches: '**'
  pull_request:
    branches: '**'

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_NOLOGO: true

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 # The value of 0 may be important to include tags for MinVer
          submodules: true

      - run: dotnet build WeCantSpell.Hunspell.sln -c Release

      - run: dotnet test WeCantSpell.Hunspell.Tests/WeCantSpell.Hunspell.Tests.csproj -c Debug
