name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_NOLOGO: true

jobs:
  build:
    runs-on: windows-2022 # TODO: change back to windows-latest when possible

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - run: dotnet build -c Release WeCantSpell.Hunspell.sln

      - run: dotnet test -c Release WeCantSpell.Hunspell.Tests/WeCantSpell.Hunspell.Tests.csproj

      - run: dotnet pack -c Release --output ./artifacts WeCantSpell.Hunspell/WeCantSpell.Hunspell.csproj

      - uses: actions/upload-artifact@v2
        with:
          path: ./artifacts/*.nupkg
