name: Publish

on:
  workflow_dispatch:
  push:
    tags:
      - '**'

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_NOLOGO: true

jobs:
  publish:
    runs-on: windows-2025

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # The value of 0 may be important to include tags for MinVer
          submodules: true

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            10.x
            9.x
            8.x

      - run: dotnet build WeCantSpell.Hunspell.sln -c Release

      - run: dotnet test WeCantSpell.Hunspell.Tests/WeCantSpell.Hunspell.Tests.csproj -c Release --no-build --logger GitHubActions

      - run: dotnet pack WeCantSpell.Hunspell/WeCantSpell.Hunspell.csproj -c Release --output ./artifacts --include-symbols -p:SymbolPackageFormat=snupkg

      - uses: actions/upload-artifact@v4
        with:
          name: nuget-packages
          path: |
            ./artifacts/WeCantSpell.Hunspell.*.*nupkg
            ./artifacts/WeCantSpell.Hunspell.*.*snupkg
