name: Publish

on:
  workflow_dispatch:
  push:
    tags:
      - '**'

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_NOLOGO: true

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 # The value of 0 may be important to include tags for MinVer
          submodules: true

      - run: dotnet build WeCantSpell.Hunspell.sln -c Release

      - run: dotnet test WeCantSpell.Hunspell.Tests/WeCantSpell.Hunspell.Tests.csproj -c Release --no-build --logger GitHubActions

      - run: dotnet pack WeCantSpell.Hunspell/WeCantSpell.Hunspell.csproj -c Release --output ./artifacts --include-symbols

      - uses: actions/upload-artifact@v2
        with:
          name: nuget-packages
          path: ./artifacts/WeCantSpell.Hunspell.*.*pkg
